:root{
    --htmlWidth: attr(width);
}

body {
    margin: 0px;
}

.grid_terminator {
    --docX: calc(var(--htmlWidth)/5) ;
    display: grid;
    grid-template-columns: var(--docX)px ;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 40px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    
}

.grid_executer {
    background-color: antiquewhite;
    outline-color: rosybrown;
    outline-style: solid;
    text-align: center;
    line-height: 5;
    display: inline-block;
    vertical-align: middle;
}

.header1 {
    grid-area: 1 / 1/ 9 / 6;
    background: url(https://images.pexels.com/photos/1600757/pexels-photo-1600757.jpeg);
    background-size: cover;
    color: whitesmoke;
    outline-style: none;
    text-align: left;
    line-height: 0.2;
}

div.gradient1{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    height: 100%;
    padding-left: 100px;
    padding-top: 75px;
}

div.nav_bar{
    grid-area: 9 / 1 / 10 / 6;
    background-color: black;
    color: whitesmoke;
    outline-style: none;
    border-top-style: solid;
    border-color: dimgray;
    border-width: 1px;
    position: sticky;
    top: 0;
}

ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-style: none;
    height:inherit;
    overflow: hidden;
    background-color: black
}

li.nav_bar {
    float:left;
}

.active_page {
    background-color: cadetblue;
}

li.nav_bar a {
    display: block;
    line-height: 2.5;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

li.nav_bar a:hover {
    background-color: #333;
}

.top_section1 {
    grid-area: 10 / 1 / 14 / 6;
    background-color: darkslategrey;
    color: whitesmoke;
    outline-style: none;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 1.3;
}

.mid_section1 {
    grid-area: 14 / 1 / 20 / 6;
    outline-style: none;
    color: whitesmoke;
    background: url(https://bloximages.newyork1.vip.townnews.com/theadvocate.com/content/tncms/assets/v3/editorial/9/7e/97e28886-e7eb-5bca-8984-21f9beb166aa/629007b68207b.image.jpg?resize=901%2C500);
    background-size: cover;
}

.leftmid_section1 {
    display: block;
    grid-area: 14 / 1 / 20 / 3;
    background: none;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
    outline-style: none;
    color: whitesmoke;
    padding-left: 25%;
    padding-right: 25%;
    position: relative;
}

.leftmid_section1 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
}